/* Need to pick a font-family for everything... */

/* Base */
body {
    background-color: #83C5BE;
    color: #005059;
}

.alert {
    text-align: center;
}

/* Navbar */
.navbar {
    background-color: #005059;
    padding: .9rem 1rem;
    font-weight: 300;
}

.navbar-nav li a {
    color: #EDF6F9;
}

/* Welcome */
.jumbotron-welcome {
    text-align: center;
    background-color: #EDF6F9;
    border-radius: 2rem;
    margin-top: 1.5rem;
    padding: 2rem 1rem;
}

.jumbotron-welcome h1 {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
}

.jumbotron-welcome p.about {
    margin-top: 2rem;
    font-weight: 300;
    font-size: large;
}

.jumbotron-welcome p.user_direction {
    margin-top: 1rem;
    font-weight: 300;
    font-size: large;
}

/* Register User */
.register-header h1 {
    color: #EDF6F9;
    font-weight: 200;
}

.register-form {
    background-color: #005059;
    border-radius: 2rem;
    padding: 20px;
}

.register-form label {
    font-weight: 200;
    color: #EDF6F9;
}

.register-submit {
    color: #EDF6F9;
    border-color: #EDF6F9;
    font-weight: 500;
}

.login-info {
    padding-top: 10px;
}

.login-info small, a.ml-2 {
    font-weight: 500;
}

.login-info a.ml-2 {
    color: #EDF6F9;
    font-weight: 500;
}

/* Login User */
.login-header h1 {
    color: #EDF6F9;
    font-weight: 200;
}

.login-form {
    background-color: #005059;
    border-radius: 2rem;
    padding: 20px;
}

.login-form label {
    font-weight: 200;
    color: #EDF6F9;
}

.login-submit {
    color: #EDF6F9;
    border-color: #EDF6F9;
    font-weight: 500;
}

.register-info {
    padding-top: 10px;
}

.register-info small, a.ml-2 {
    font-weight: 500;
}

.register-info a.ml-2 {
    color: #EDF6F9;
    font-weight: 500;
}

/* User Account */
.user-account-header h1 {
    color: #EDF6F9;
    font-weight: 200;
    text-align: center;
}

.user-account-info h3 {
    color: #EDF6F9;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

/* Plant Table */
.plant-summary {
    border-radius: .8rem;
    background-color: #EDF6F9;
}

.plant-summary-header {
    border-radius:  .9rem;
    background-color: #005059;
}

.plant-summary-header th {
    border-top: none;
    border-bottom: none;
    color: #EDF6F9;
    font-weight: 200;
}

.add-plant {
    color: #005059;
    border-color: #005059;
    font-weight: 400;
}
/* Jumbotron */
.jumbotron-record-info {
    background-color: #005059;
    color: #EDF6F9;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}

.jumbotron-record-info h1 {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
}

.jumbotron-record-info p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0rem;
}

/* Plant Records */
.table {
    background-color: #EDF6F9;
}

.no-gutters>.col {
    background-color: #EDF6F9;
}

.record-header {
    background-color: #006D77;
}

/* Add Plant */

/* Edit Plant */
