/* Need to pick a font-family for everything... */

/* Base */
body {
    background-color: #83C5BE;
    color: #005059;
}

/* Navbar */
.navbar {
    background-color: #005059;
    padding: .9rem 1rem;
    font-weight: 300;
}

.navbar-nav li a {
    color: #EDF6F9;
}

/* Welcome page */
.jumbotron-welcome {
    text-align: center;
    background-color: #EDF6F9;
    border-radius: 1.1rem;
    margin-top: 1.5rem;
}

.jumbotron-welcome h1 {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
}

.jumbotron-welcome p.about {
    margin-top: 2rem;
    font-weight: 300;
    font-size: large;
}

.jumbotron-welcome p.user_direction {
    margin-top: 1rem;
    font-weight: 300;
    font-size: large;
}

/* Register User */
.register-header h1 {
    color: #EDF6F9;
    font-weight: 100;
}

.register-form label {
    font-weight: 200;
}

.register-submit {
    color: #005059;
    border-color: #005059;
    font-weight: 400;
}

.login-info small, a.ml-2 {
    font-weight: 400;
}

.login-info a.ml-2 {
    color: #EDF6F9;
    font-weight: 500;
}

/* Login User */
.login-header h1 {
    color: #EDF6F9;
    font-weight: 100;
}

.login-form label {
    font-weight: 200;
}

.login-submit {
    color: #005059;
    border-color: #005059;
    font-weight: 400;
}

.register-info small, a.ml-2 {
    font-weight: 400;
}

.register-info a.ml-2 {
    color: #EDF6F9;
    font-weight: 500;
}

/* User Account */


/* Styling the jumbatron for the user_account */
h1.display-4 font-italic {
    font-style: italic!important;
}

/* Styling each plant record */
.table {
    background-color: #EDF6F9;
}

.no-gutters>.col {
    background-color: #EDF6F9;
}

.record-header {
    background-color: #006D77;
}



/* Add Plant */

/* Edit Plant */
