/* Base */
body {
    background-color: #83C5BE;
}

.alert {
    text-align: center;
}

/* Navbar */
.navbar {
    background-color: #005059;
    padding: .9rem 1rem;
    font-weight: 300;
}

.navbar-nav li a {
    color: #EDF6F9;
}

/* Welcome */
.jumbotron-welcome {
    text-align: center;
    background-color: #EDF6F9;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem 1rem;
}

.jumbotron-welcome h1 {
    margin-top: 0.5rem;
    font-weight: 400;
}

.jumbotron-welcome p.about {
    margin-top: 1rem;
    font-weight: 300;
    font-size: large;
}

.jumbotron-welcome p.user_direction {
    margin-top: 1rem;
    font-weight: 300;
    font-size: large;
}

/* Register User */
.register-header{
    text-align: center;
}

.register-header h1 {
    color: #EDF6F9;
    font-weight: 100;
    margin-bottom: 2rem;
}

.register-form {
    background-color: #005059;
    border-radius: 2rem;
    padding: 20px;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.fieldset {
    margin: 1rem;
}

.register-submit {
    color: #EDF6F9;
    border-color: #EDF6F9;
    font-weight: 500;
    margin-left: 1rem;
}

.login-info {
    padding-top: 10px;
    text-align: center;
}

.login-info small, a.ml-2 {
    color: #EDF6F9;
    font-weight: 200;
}

.login-info a.ml-2 {
    color: #EDF6F9;
    font-weight: 600;
}

/* Login User */
.login-header {
    text-align: center;
}

.login-header h1 {
    color: #EDF6F9;
    font-weight: 100;
    margin-bottom: 2rem;
}

.login-form {
    background-color: #005059;
    border-radius: 2rem;
    padding: 20px;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.fieldset-login {
    margin: 1rem;
}
.login-submit {
    color: #EDF6F9;
    border-color: #EDF6F9;
    font-weight: 500;
    margin-left: 1rem;
}

.register-info {
    padding-top: 10px;
    text-align: center;
}

.register-info small, a.ml-2 {
    font-weight: 200;
    color: #EDF6F9;
}

.register-info a.ml-2 {
    font-weight: 600;
    color: #EDF6F9;
}

/* User Account */
.user-account-header h1 {
    color: #EDF6F9;
    font-weight: 200;
    text-align: center;
    margin: 1rem;
}

.user-account-header h1 small {
    font-weight: 500;
}

.user-account-styling {
    border: 0;
    margin: 0;
}

.user-account-info h3 {
    color: #EDF6F9;
    font-weight: 100;
    text-align: center;
    margin: 1rem;
}

/* Plant Table */
.plant-container {
    display: table;
}

.plant-summary {
    border-radius: .8rem;
    background-color: #EDF6F9;
}

.plant-summary-header {
    background-color: #005059;
}

.plant-summary-header th {
    border-top: none;
    border-bottom: none;
    color: #EDF6F9;
    font-weight: 300;
}

.plant-summary-body td {
    color: #005059;
    font-weight: 100;
}

.add-plant {
    color: #005059;
    border-color: #005059;
    font-weight: 400;
    width: -webkit-fill-available;
}

/* Jumbotron */
.jumbotron-record-info {
    background-color: #005059;
    color: #EDF6F9;
    border-radius: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}

.jumbotron-record-info h1 {
    text-align: center;
    font-style: italic;
    font-weight: 200;
    line-height: 1.2;
}

.jumbotron-record-info p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}

/* Plant Records */
.user-account-plant-record {
    background-color: #EDF6F9;
    color: #005059;
    border: 3px solid #005059;
}

.user-plant-record {
    border-radius: 2rem;
}

.user-submit {
    padding-top: 10px;
    text-align: center;
}

.edit-submit {
    color: #005059;
    border-color: #005059;
    font-weight: 500;
}

.delete-submit {
    font-weight: 500;
}

/* Add Plant */
.add-plant-body {
    color: #EDF6F9;
    background-color: #005059;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.add-plant-header h1 {
    margin: 0;
    font-weight: 100;
    padding: 1rem;
    text-align: center;
}

.plant-data {
    color: #006D77;
    padding: 0px 20px;
    margin-bottom: 0.5rem;
}

.card-body {
    background-color: #EDF6F9;
}

.card-title {
    font-weight: 300;
}

.card-subtitle {
    font-weight: 200;
    margin-bottom: 2rem;
}

p.card-text {
    line-height: 1.5rem;
    font-weight: 200;
}

.user-plant-input {
    padding: 10px 25px;
}

.fieldset-user-input {
    font-weight: 100;
}

.fieldset-user-input
.form-control {
    font-weight: 100;
    color: #005059;
    background-color: #EDF6F9;
}

.fieldset-user-input
.form-control.date {
    width: 60%;
}

.frequency-data {
    background-color: #EDF6F9;
    border-radius: .25rem;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 60%;
}

.fieldset-user-input
.form-control.notes {
    background-color: #EDF6F9;
    height: calc(1.5em + .75rem + 6rem);
}

.add-plant-submit {
    color: #EDF6F9;
    border-color: #EDF6F9;
    font-weight: 500;
}

/* Edit Plant */
.edit-user-plant-record {
    color: #EDF6F9;
    background-color: #005059;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.edit-header h2 {
    margin: 0;
    font-weight: 100;
    padding: 1rem;
    text-align: center;
}

.record-data {
    color: #006D77;
    padding: 0px 20px;
    margin-bottom: 0.5rem;
}

.user-plant-edit {
    padding: 10px 25px;
}

.fieldset-user-edit {
    font-weight: 100;
}

.fieldset-user-edit
.form-control {
    font-weight: 100;
    color: #005059;
    background-color: #EDF6F9;
}

.fieldset-user-edit
.form-control.date {
    width: 60%;
}

.fieldset-user-input
.form-control.edited-notes {
    background-color: #EDF6F9;
    height: calc(1.5em + .75rem + 6rem);
}

.edit-plant-submit {
    color: #EDF6F9;
    border-color: #EDF6F9;
    font-weight: 500;
}