{% extends 'base.html' %}
{% block content %}
<!-- Add Plant -->
<div class="container add-plant-body">
    <div class="container add-plant-header">
	    <h1>Add Your Plant</h1>
    </div>
	<!-- Place the specific information for chosen plant here first -->
    <div class="container col-12 plant-data">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{plant.plant_reference}}</h2>
                <h5 class="card-subtitle"><em>{{plant.plant_name}}</em></h5>
                <p class="card-text">{{plant.plant_description}}</p>
                <p class="card-text">{{plant.plant_placement}}</p>
                <p class="card-text">{{plant.plant_care}}</p>
            </div>
        </div>    
    </div>
	<!-- Create Form -->
	<div class="container user-plant-input">
		<form method="POST" action="{{ url_for('add_plant_record', plant_id=plant._id) }}" autocomplete="off">
			<fieldset class="form-group fieldset-user-input">
				<div class="form-group">
                    <label for="date_purchased">Date Purchased</label>
					<input type="date" name="date_purchased" class="form-control date" required>
                </div>
                <div class="form-group">
                    <label for="water_frequency">Water Frequency</label>
                    <select class="form-control" name="water_frequency" required>
                        <option value="" disabled selected>Please choose an option:</option>
                        {% for value in watering_frequency %}
                            <option value="{{ value }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="notes_added">Notes</label>
                    <textarea class="form-control" name="notes_added" id="notes_added" rows="3"></textarea>
                </div>
			</fieldset>
			<div class="form-group">
				<input type="submit" class="btn btn-outline-info add-plant-submit" value="Submit">
            </div>
		</form>
	</div>
</div>
{% endblock %}