{% extends 'base.html' %}
{% block content %}
<!-- Update Plant -->
<div class="container admin_update_header">
    <h1>Update Plant</h1>
    <p class="about">Please use this page to update any new plants onto the app.</p>
</div>

<div class="container admin_update">
    <form method="POST" action="{{ url_for('admin_update', plant_id=plant._id) }}" class="admin-update-form" autocomplete="off">
        <div class="form-group">
            <label for="plant_reference">Plant Reference</label>
            <input type="text" class="form-control" name="plant_reference" value="{{plant.plant_reference}}">
        </div>
        <div class="form-group">
            <label for="plant_name">Plant Name</label>
            <input type="text" class="form-control" name="plant_name" value="{{plant.plant_name}}">
        </div>
        <div class="form-group">
            <label for="plant_description">Plant Description</label>
            <textarea type="text" class="form-control" name="plant_description" rows="3" placeholder="{{plant.plant_description}}"></textarea>
            <!-- <input type="text" class="form-control" name="plant_description" value="{{plant.plant_description}}"> -->

        </div>
        <div class="form-group">
            <label for="plant_placement">Plant Placement</label>
            <textarea type="text" class="form-control" name="plant_placement" rows="3" placeholder="{{plant.plant_placement}}"></textarea> 
            <!-- <input type="text" class="form-control" name="plant_placement" value="{{plant.plant_placement}}"> -->
        </div>
        <div class="form-group">
            <label for="plant_care">Plant Care</label>
            <textarea type="text" class="form-control" name="plant_care" rows="3" placeholder="{{plant.plant_care}}"></textarea> 
            <!-- <input type="text" class="form-control" name="plant_care" value="{{plant.plant_care}}"> -->
        </div>
        <div class="form-group admin-update-submit">
            <input type="submit" class="btn btn-outline-info" value="Update">
        </div>
    </form>
</div>
{% endblock %}