{% extends 'base.html' %}
{% block content %}
<div class="jumbotron admin-welcome">
        <h1>Administration Account</h1>
    <hr>
    <p class="about">This page has been created to help assist you in adding any new plants onto the app, 
        as well as updating any existing plant records.</p>
    <div>
        <a class="btn btn-outline-info admin-add-plant" href="{{ url_for('admin_add') }}">Add Plant</a>
    </div>
</div>

<div class="admin_search">
    <h1>Search Existing Plants</h1>
</div>
<!-- Table listing plant collection -->
<div class="container">
    <table class="table admin-plant-summary">
        <thead class="plant-summary-header">
            <tr>
                <th>Reference</th>
                <th>Plant Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="plant-summary-body">
            {% for plant in plants %}
            <tr>
                <td>{{plant.plant_reference}}</td>
                <td>{{plant.plant_name}}</td>
                <td><a class="btn btn-outline-info admin-add-plant"
                        href="{{ url_for('admin_update', plant_id=plant._id) }}">Update</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}