{% extends 'base.html' %}
{% block content %}
<!-- Edit Plant -->
<div class="container edit-user-plant-record">
    <div class="container edit-header">
	    <h1>Edit Plant Record</h1>
    </div>
	<!-- First fill in the fields with the data already held -->
	<div class="container col-12 record-data">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{record.plant.plant_reference}}</h2>
                <h5 class="card-subtitle"><em>{{record.plant.plant_name}}</em></h5>
                <p class="card-text">{{record.plant.plant_description}}</p>
                <p class="card-text">{{record.plant.plant_placement}}</p>
                <p class="card-text">{{record.plant.plant_care}}</p>
                <p class="card-text">Purchased on {{record.date_purchased}}</p>
            </div>
        </div>
	</div>
    <!-- Pull in the remaining form fields to update -->
    <div class="container user-plant-edit">
		<form method="POST" action="{{ url_for('edit_user_plant_record', record_id=record._id) }}">
            <div class="form-group">
                <label for="water_frequency">Water Frequency</label>
                <div>
                    <select class="form-control edit-frequency" name="water_frequency" id="water_frequency" required>
                        {% for value in watering_frequency %}
                            {% if record.water_frequency == value.lower() %}
                                <option value="{{ value }}" selected>{{ value }}</option>
                            {% else %}
                                <option value="{{ value }}">{{ value }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="notes_added">Notes</label>
                <input type="text" name="notes_added" class="form-control edited-notes" value="{{record.notes_added}}">
            </div>
			<div class="form-group edit-button">
				<input type="submit" class="btn btn-outline-info edit-plant-submit" value="Submit">
            </div>
		</form>
	</div>
</div>
{% endblock %}