{% extends 'base.html' %}
{% block content %}
<br>
<h1>Log In</h1>
<hr>
<!-- Create Log In -->
<form method="POST" action="{{ url_for('login_user') }}">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" required autofocus>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="sumbit" class="btn btn-success">Submit</button>
</form>
<br>
<em>Do you need a user account? </em><a href="/register_user">Register your account here</a>
{% endblock %}