{% extends 'base.html' %}
{% block content %}
<br>
<div class="container register-header">
	<h1>Register</h1>
</div>
<hr>
<!-- Create Form -->
{% from "includes/_formhelpers.html" import render_field %}
<div class="container register-form">
	<form method="POST" action="">
		<fieldset class="form-group">
			<div class="form-group">
				<!-- WTForm syntax -->
				<dl>
					{{ render_field(form.name, class="form-control") }}
					{{ render_field(form.email, class="form-control") }}
					{{ render_field(form.username, class="form-control") }}
					{{ render_field(form.password, class="form-control") }}
					{{ render_field(form.confirm, class="form-control") }}
				</dl>
			</div>
		</fieldset>
		<div class="form-group">
			<input type="submit" class="btn btn-outline-info register-submit" value="Submit">
        </div>
	</form>
</div>
<div class="container login-info">
	<small>Already registered?<a class="ml-2" href="{{ url_for('login_user') }}">Log in here</a></small>
</div>
<hr>
{% endblock %}