{% extends 'base.html' %}
{% block content %}
<div class="container user-account-header">
	<h1>Welcome<small> {{session.username}}</small></h1>
</div>
<div class="container user-account-info">
	<h3>Search for your new plant using the table below:</h3>
</div>

<div class="container">
    <!-- Table listing plant collection -->
    <table class="table plant-summary plant-container">
        <thead class="plant-summary-header">
            <tr>
                <th>Reference</th>
                <th>Plant Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="plant-summary-body">
            {% for plant in plants %}
            <tr>
                <td>{{plant.plant_reference}}</td>
                <td>{{plant.plant_name}}</td>
                <td><a class="btn btn-outline-info add-plant"
                        href="{{ url_for('add_plant_record', plant_id=plant._id) }}">Add</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

	<!-- User Plant Record Heading -->
	<div class="jumbotron jumbotron-record-info">
		<div class="col-12 px-0">
			<h1>Keep informed with personalised plant records for each of your plants!</h1>
			<br>
			<p>Once added, each record will be stored below and can be accessed and update by you at any time.</p>
		</div>
	</div>

	<!-- User Plant Records -->
    <div class="row">
        {% for record in records %}
		<div class="col-lg-4 col-sm-6 mb-4">
			<div class="card h-100 user-account-plant-record">
				<div class="card-body">
					<h2 class="card-title">{{record.plant.plant_reference}}</h2>
					<h5 class="card-subtitle"><em>{{record.plant.plant_name}}</em></h5>
					<p class="card-text">{{record.plant.plant_description}}</p>
					<p class="card-text">{{record.water_frequency}}</p>
					<p class="card-text">{{record.notes_added}}</p>
					<div class="user-submit">
						<a class="btn btn-outline-info edit-submit" href="edit_user_plant_record/{{record._id}}">Edit</a>
						<a class="btn btn-outline-danger" href="{{ url_for('delete_user_plant_record', record_id=record._id) }}">Delete</a>
					</div>
				</div>
			</div>
		</div>
        {% endfor %}
	</div>
</div>
{% endblock %}