{% extends 'base.html' %}
{% block content %}

<!-- Place a photo as the background -->

    <div class="jumbotron text-center">
        <h1>Welcome to Flourish At Home</h1>
        <hr>
        <p class="about">We have created this application for all of our lovely customers, to help assist you in caring for your new plants as soon as you leave the shop!</p>
        <br>
        <p class="user_direction">Please use the drop-down menu to register as a new user and get started or login to your personal account to see you current plant record.</p>
    </div>

{% endblock %}